html, body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 50%;
    display: flex;
    padding: 15px;
    text-align: center;
}
.board {
    background-color: #f2f2e1;
    width: 75%;
    padding: 15px;
}
.menu {
    background-color: #99ccee;
    width: 25%;
}
.menu input {
    background-color: #73a1c9;
}
canvas {
    background-color: red;
}
